* {
  margin: 0;
  }

  * {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1 {
    background-color: #f9ced5;
    color: #8b1825;
    text-align: center;
    padding: 0.5em;
  }
  
  h2 {
    text-align: center;
    margin: 1.5rem;
  }
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button{
    background-color: #8b1825;
    color: #f9ced5;
    padding: 1em;
    margin: 0.5em;
    width: 90%;
  }
  
  .productos {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    margin: 2em;
  }

.controles {
  display: flex;
  justify-content: space-between;
  flex-direction: row
}

.formulario {
  display: flex;
}